@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.css');

/* LIGHT THEME */
:root {
    --primary: #027cff;
    --bg-white: #ffffff;
    --text-white: #ffffff;
  }
  
  .App {
    margin: auto;
    width: 420px;
    height: fit-content;
    min-height: 100vh;
    font-family: sans-serif;
    text-align: center;
    background-color: cyan;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
  }
  
  @media only screen and (max-width: 500px) {
    .App {
      width: 100%;
      min-height: 100vh;
    }
  }
  